.App {
  text-align: center;
  height: 100%;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: 61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.heading {
  padding-top: 10px;
  width: 100vw;
  background-color: white;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  color: #274c77;
}

#navLink {
  margin: 0px 20px;
  color: black;
}

#nlselected {
  margin: 0px 20px;
  color: black;
  font-weight: bold;
  text-decoration: underline;
}

#navBar {
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 0;
}

#navBar .hamburger {
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 80%;
}

.name {
  font-family: 'Poppins', sans-serif;;
  font-size: 150%;
  font-weight: bold;
  vertical-align: middle;
  text-decoration: none;
  padding: 0.2rem 0.5rem 0rem 0rem;
  color: #274c77;
}

.name:hover {
  color: #274c77;
}

.pageTitle {
  font-size: 1.5rem;
  font-weight: 10px;
  color: #274c77;
  padding: 1% 10%;
}
